
#hero-exhibitions-banner {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(149, 149, 149, 0.294), rgba(56, 56, 56, 0.142)), url(../../assets/img/exhibition-1863344_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    row-gap: 2em;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    min-height: 70vh;
}

#hero-exhibitions-banner h1 {
    color: var(--font-color-light);
    padding-top: 5rem;
    padding-bottom: 1.5rem;
}

.exhibitions-main-container h2 {
    font-size: 3em;
}

#exhibitions-main-container {
    font-size: 1.5em;
    border-bottom: solid 1px var(--font-color-dark);
}

#young-scientist-container, #teacher-container-main, #researchers-container {
    margin-bottom: 2rem;
    margin-top: 3rem;
    justify-content: center;
}

#young-scientist-container h2, #teacher-container-main h2, #researchers-container h2 {
    font-size: 4em;
}

.audience-content-text {
    padding: 1rem 5%;
    margin-bottom: 2rem;
}

.audience-content-text p {
    font-size: 1.5em;
    padding-bottom: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    #hero-exhibitions-banner h1 {
        font-size: 2.5rem;
    }

    #hero-exhibitions-banner {
        background-position: right;
    }

    #exhibitions-main-container {
        font-size: 1rem;
        justify-content: center;
    }

    #young-scientist-container h2, #teacher-container-main h2, #researchers-container h2 {
        font-size: 2.5rem;
    }


    #young-scientist-container, #teacher-container-main, #researchers-container {
        margin: 0;
    }
}
