@import url(/src/css/variables.css);
@import url(/src/css/main.css);


.hero-banner, .young-scientist, .teachers-img-container, .researchers {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/img/scott-webb-102825.jpg);
    align-items: center;
    row-gap: 2em;
    text-align: center;
    position: relative;
    padding-bottom: 1.5em;
}

.hero-banner::after {
    content: "";
    background-color:  rgba(217, 217, 217, 0.44);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.hero-banner::after {
    z-index: 1;
}
.hero-banner > * {
    z-index: 50;
}

.hero-banner h1 {
    font-size: 4rem;
    color: var(--font-color-dark);
    padding: 5%;
}

.hero-banner-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 4.5em;
}

#hero-index-banner {
    background-position: center;
    background-size: cover;
}

.young-scientist, .teachers-img-container, .researchers {
    background-size: cover;
    padding: 2rem 5%;
    margin-bottom: 5rem;
    margin-top: 1.25rem;
    height: 70vh;
    align-items: center;
    justify-content: flex-end;
}

.young-scientist::after {
    content: "";
    background-color:  rgba(42, 39, 39, 0.387);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}
.young-scientist::after {
    z-index: 1;
}
.young-scientist > * {
    z-index: 50;
}

.young-scientist {
    background-image: var(--for-img-bg-ys);
}

.teachers-img-container {
    background-image: var(--for-img-bg-t);
}

.researchers {
    background-image: var(--for-img-bg-r);
}

.explore-together {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 0.25em;
    padding: 2rem 5%;
}

.explore-together h2, .explore-together p {
    font-family: Goldman, sans-serif;
    padding: 0.25rem 2.5%;
}

.explore-together h2, .exhibitions h2, .news-main-container h2, .young-scientist h2, .teachers h2, .researchers h2 {
    font-size: 2.75em;
    font-weight: bold;
    color: var(--font-color-dark);
}

.young-scientist h2, .teachers h2, .researchers h2 {
    color: var(--font-color-light);
}

.opening-hours {
    display: block;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    padding: 0 5%;
    min-width: 35%;
}

.opening-hours h3 {
    font-size: 2em;
    padding: 1rem 0.5rem;
}

.opening-hours li {
    font-family: Quicksand, sans-serif;
    font-size: 1.5em;
    border: none;
}

.opening-hours ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
}

#opening-hours-ul li {
    margin: 0.25em 5%;
}

.opening-hours-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 5em;
    padding-right: 2.5%;
    padding-bottom: 2em;
    border-bottom: solid 0.15em var(--main-color);
}

.btn-container-opening-hours {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    column-gap: 1em;
    padding: 2.5% 5%;
    background-image: url(../../assets/img/exhibition-1863344_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    width: 60%;
}

.exhibitions-main-container, .news-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 5%;
    border-bottom: solid 0.15em var(--main-color);
}

.exhibitions-main-container p, .news-main-container p {
    font-family: Goldman, sans-serif;
    font-size: 1.5em;
    /* color: var(--font-color-dark); */
}

.ex-img-container h3, .news-img-container h3 {
    font-size: 2.5em;
    color: var(--font-color-light);
    padding: 1rem 0.5rem;
}
.ex-dropdown, .news-dropdown {
    display: flex;
    flex-direction: row;
    /* max-width: 14rem; */
    /* background-color: var(--main-color); */
    color: var(--font-color-light);
}

.ex-dropdown h4, .news-dropdown h4 {
    font-family: Goldman, sans-serif;
    font-size: 1.25rem;
}

.ex-dropdown h4, .news-dropdown h4, .ex-dropdown span, .news-dropdown span {
    color: var(--font-color-light);
    padding: 0.5rem 1rem;
}


#robotics-ai {
    background-image: var(--ex-img-bg-ai);
    background-position: bottom, center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

#medicine-biology {
    background-image: var(--ex-img-bg-bm);
    background-position: bottom, center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

#cosmology {
    background-image: var(--ex-img-bg-co);
    background-position: bottom, center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}
#ecology{
    background-image: var(--ex-img-bg-ec);
    background-position: bottom, center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

#evolution {
    background-image: var(--ex-img-bg-ev);
    background-position: bottom, center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

#news-energetica {
    background-image: var(--news-img-bg-eel);
    height: 19em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: flex-end;
    justify-content: flex-start;
}

#news-professor {
    background-image: var(--news-img-bg-vpa);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: flex-end;
    justify-content: flex-start;
    height: 19em;
}

#news-night-am {
    background-image: var(--news-img-bg-night);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: flex-end;
    justify-content: flex-start;
    height: 19em;
}

#young-scientist, #teachers, #researchers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


@media screen and (max-width: 767px) {
    .hero-banner h1 {
        font-size: 2.5em;
    }

    .hero-banner-buttons {
        flex-direction: column;
        row-gap: 1em;
    }

    .opening-hours-container {
        flex-direction: column;
        column-gap: 0;
        padding: 0;
    }

    .btn-container-opening-hours {
        display: none;
}

    .exhibitions-container {
        width: 10em;
        height: 8em;
        padding: 0;
    }

    #young-scientist-container {
        background-position: right;
    }
}
