@import url(/src/css/variables.css);
@import url(/src/css/main.css);

.hero-banner {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/img/scott-webb-102825.jpg);
    align-items: center;
    height: 30em;
    justify-content: center;
    row-gap: 2em;
    text-align: center;
}

.hero-banner h1 {
    font-size: 4.5em;
    color: var(--font-color-dark);
    padding: 0 3em;
}

.explore-together {
    background-color: var(--secondary-color);
    border-radius: 0.5em;
    color: var(--font-color-dark);
    padding: 0.5em 1em;
    text-decoration: none;
    justify-content: space-between;
}

/* .hero-banner a {
    background-color: var(--secondary-color);
    border-radius: 0.5em;
    color: var(--font-color-dark);
    padding: 0.5em 1em;
    text-decoration: none;
    justify-content: space-between;
} */
