/*
span {
    background-color: var(--main-color);
    color: var(--font-color-light);
    padding: 1em;
    display: block;
}

span::after {
    float: right;
    right: 10%;
    content: ">";
}

.dropdown-content {
    clear: both;
    width: 100%;
    overflow: hidden;
    transition: .4s ease;
}

.dropdown-content li {
    font-family: Quicksand, sans-serif;
    padding: 2rem;
    color: var(--font-color-light);
}

#learn-more-button {
    position: absolute;
    opacity: 0;
    height: 0;
}

#learn-more-button:checked + .dropdown-content {
    height: fit-content;
} */

/* *,
*:before,
*:after {
    box-sizing: border-box;
}

.ex-dropdown > input[type="checkbox"]{
    position: absolute;
    left: -100vw;
}

.ex-dropdown, .learn-more-content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.5s ease;
}

.ex-dropdown > input[type="checkbox"]:checked ~ .learn-more-content {
    height: auto;
    overflow: visible;
}

.ex-dropdown label {
    display: block;
} */

/* Styling */

/* .ex-dropdown {
    margin-bottom: 1rem;
}

.ex-dropdown > input[type="checkbox"]:checked ~ .learn-more-content {
    padding: 1rem;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top: none;
}

.ex-dropdown .learn-more-ex {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1rem;
}

.ex-dropdown label {
    font-family: Goldman, sans-serif;
    color: var(--font-color-light);
    padding: 1rem;
    background: var(--main-color);
}

.ex-dropdown label:hover, .ex-dropdown label:focus {
    background: var(--main-color);
}

.ex-dropdown .learn-more-content label::before {
    font-family: "Material Icons";
    content: "e5cf";
    display: inline-block;
    margin-right: 1rem;
    font-size: 0.5rem;
    vertical-align: middle;
}

.ex-dropdown > input[type="checkbox"]:checked ~ .learn-more-ex label::before {
    content: "e5cf";
} */

/* details [open] {
    padding: 5%;
}

details[open] summary {
    background-color: var(--main-color);
    color: var(--font-color-light);
    padding: 5%;
} */

/* details {
    width: 100%;
} */



/* summary span{
    justify-content: center;
} */

