@import url(variables.css);
@import url(navbar.css);
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Quicksand:wght@300..700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: Goldman, sans-serif;
    color: var(--font-color-dark);
    font-weight: bold;
}

p {
    font-family: Quicksand, sans-serif;
    font-size: var(--font-size);
}

ul, nav, nav ul {
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

li {
    margin: 0em 2em;
    margin-bottom: 0.5em;
}



a {
    color: var(--font-color-light);
    text-decoration: none;
}

.button-yellow, .button-pink {
    font-family: Goldman, sans-serif;
    font-size: 1.5em;
    border: 0.25em solid;
    color: var(--font-color-dark);
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button-pink {
    background-color: var(--bg-button-color);
    border-color: var(--secondary-color);
}

.button-yellow {
    background-color: var(--third-color);
    border-color: var(--third-color);
}

.footer-container {
    font-family: quicksand, sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--footer-bg-color);
    color: var(--font-color-light);
    padding: 2em;
}
.footer-container > * {
    margin: 0 1em;
}

.left-side-footer {
    justify-content: flex-start;
}

.right-side-footer {
    justify-content: flex-end;
}

.right-side-footer img {
    margin-top: 2em;
    width: 64px;
    height: 64px;

}

.nav-list::after {
    z-index: 1;
}

.nav-list > * {
    z-index: 100;
}

.exhibitions-container, .news-container {
    display: flex;
    flex-direction: row;
    /* column-gap: 4.5em; */
    background-image: url("");
    width: 20em;
    height: 19em;
}

.ex-dropdown p, .news-dropdown p {
    font-family: QuickSand, sans-serif;
    font-size: 1.25em;
}

details p {
    color: var(--font-color-light);
}

details > summary {
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    list-style: none;
}

details[open] > summary {
    width: 20rem;
    padding: 0;
    text-align: top;

}

details > p {
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    color: var(--font-color-light);
    width: 20rem;
    max-height: 50vh;
    overflow: scroll;
    position: absolute;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
    details[open] > summary {
        width: 18rem;
        padding: 0;
        text-align: top;
    }

    details > p {
        padding: 0.5rem 1rem;
        background-color: var(--main-color);
        color: var(--font-color-light);
        width: 18rem;
        max-height: 50vh;
        overflow: scroll;
        position: absolute;
}
}
