


#practical-information-banner {
    background-image: url(../../assets/img/lab.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
}

#practical-information-banner h1 {
    /* padding-top: 20rem; */
    padding-bottom: 1.5rem;
    height: 28vh;
}


#practical-information-banner::after{
    content: "";
    background-color:  rgba(212, 221, 255, 0.849);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

#practical-information-banner::after {
    z-index: 1;
}
#practical-information-banner::after > * {
    z-index: 100;
}


.our-location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 5%;
    border-bottom: solid 1px var(--font-color-dark);
}

.our-location-container h2 {
    padding-bottom: 1rem;
}

.our-location-container p {
    padding-bottom: 1rem;
}

#opening-hours-practical-information-container {
    margin-top: 4rem;
}

.opening-hours-container {
    border-bottom: solid 1px var(--font-color-dark);
}

.admissions {
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-bottom: solid 1px var(--font-color-dark);
}

.admissions h2, h3, p {
    padding-bottom: 1rem;
}

.admissions span, .our-location-container-text span {
    font-weight: 700;
}

.container-buttons-admissions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    padding: 2rem 0;
}

@media screen and (max-width: 767px) {

.our-location-container-map iframe {
    width: 17rem;
    height: 17rem;
    padding-top: 1.5rem;
}

#practical-information-banner {
    background-size: cover;
}
}
