:root {
    --main-color: #080708;
    --secondary-color: #DF2935;
    --third-color: #FDCA40;
    --bg-button-color: #D9D9D9;
    --bg-color: #f0f0f0;
    --footer-bg-color: #080708;
    --font-color-dark: #080708;
    --font-color-light: #f0f0f0;
    --font-size: calc(1em + 0.25vw);
}

:root {
    --ex-img-bg-ai: url("../../assets/img/samuel-zeller-158996.jpg");
    --ex-img-bg-bm: url("../../assets/img/samuel-zeller-113381.jpg");
    --ex-img-bg-co: url("../../assets/img/andrew-ruiz-348421.jpg");
    --ex-img-bg-ec: url("../../assets/img/mavis-cw-164128.jpg");
    --ex-img-bg-ev: url("../../assets/img/skeleton.jpg");
    --news-img-bg-eel: url("../../assets/img/scientific.jpg");
    --news-img-bg-vpa: url("../../assets/img/luke-ellis-craven.jpg");
    --news-img-bg-night: url("../../assets/img/nightmuseum.jpg");
    --for-img-bg-ys: url("../../assets/img/exhibition-1863344_1920.jpg");
    --for-img-bg-t: url("../../assets/img/learn.jpg");
    --for-img-bg-r: url("../../assets/img/library.jpg");
    --teachers-page-img-bg-opening-hours: url("../../assets/img/teacher.jpg");
    --teach-lab-bg-space: url("../../assets/img/celso.jpg");
    --teach-lag-bg-ant: url("../../assets/img/genoa.jpg");
    --teach-lab-bg-micro: url("../../assets/img/people-219985_1280.jpg");
    --teach-lab-bg-vr: url("../../assets/img/billetto-editorial.jpg");
}
