:root {
    --main-color: #080708;
    --secondary-color: #DF2935;
    --third-color: #FDCA40;
    --bg-button-color: #D9D9D9;
    --bg-color: #f0f0f0;
    --footer-color: #080708;
    --font-color-dark: #080708;
    --font-color-light: #f0f0f0;
}
