

.hero-banner-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-banner-main-container h1, .get-involved-main-container h2 {
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: 1rem;

}
.hero-banner-main-container h1 {
    padding-left: 2.5%;
}

#text-explore-together p {
    padding-bottom: 1rem;
    font-family: Quicksand, sans-serif;
}

.get-involved-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 7%;
    gap: 0.75rem;
}

.get-involved-sub-container h3, p {
    padding-bottom: 0.5rem;
}

.explore-together {
    border-bottom: solid 2px var(--main-color);
}
